
.home-container-tags-1{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #ffffff;
}
.home-container-tags-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
    min-height: 100vh;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;

}
.tags-h1{
    margin: 30px;
    font-weight: 400;
}
.tags-p{
    margin: 0px;
    font-size: 15px;
    margin-left: 30px;
}
  
.tags-list-container{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 10px;
}

.tag{
    padding: 10px;
    border: solid 1px #d2d2d2;
    border-radius: 2px;
    margin: 6px;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 3px 8px ;
}

.tag h5{
    display: inline-block;
    margin: 10px 0px;
    padding: 5px 5px ;
    background-color: #e1ecf4;
    color: #39739d;
}

.tag p{
    font-size: 14px;
    color: #323232;
    line-height: 17px;
}