.user-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12vw;
    text-decoration: none;
    color: black;
    
    width: 100vw;
    padding: 0px 100px;
}

.aliceblue{
    background-color: white;
}

.antiquewhite{
    background-color: #e5e7eb;
}

.users-list-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    padding: 30px 0px;
    
    gap: 0px;
    margin: 0px 0px;
  }
   

h3, h5{
    text-decoration: none;
}

.user-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 81vw;
    
    margin-top: 85px;
    min-height: 100vh;
}