.main-nav{
    min-height: 50px;
    width: 70%;
    margin-left: auto;
    margin-top: 0px;
    border-top: solid 0px #ef8236;
    box-shadow: 0px 0px 0px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    right: 5%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px;
}

.navbar{
    height: 100%;
    min-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}






.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar form{
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}





.nav-links {
    padding: 7px 13px;
    margin-left: 15px;
    border-radius: 10px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.nav-links:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.avatar-alpha{
    text-decoration: none;
}

.search {
    height: 28px;
    border-radius: 18px;
}

.navbar form .search-icon{
    position: absolute;
    left: 32px;
    top: 18px;

}

.navbar form input{
    min-width: 70%;
    margin: 5px;
    padding: 8px 10px 8px 32px;
    font-size: 15px;
    border: none;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}