.display-question-container {
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: solid 1px #edeff0;
    padding: 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    border-radius: 14px;
    text-decoration: none;
}

/* Make the card blink on hover */
.display-question-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.display-votes-ans {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    margin-left: 8px;
}

.display-votes-ans p {
    margin: 0;
    padding: 5px 0;
}

/* Ensure the question details are in vertical alignment */
.display-question-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
    flex-grow: 1;
}

.question-title-link {
    text-decoration: none;
    color: #037ecb;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.question-title-link:hover {
    color: #009dff;
}

/* Adjust the spacing for the tags and time */
.display-tags-time {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.display-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px; /* Add some gap between tags and other elements */
}

.display-tags p {
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739b;
}

.display-time {
    font-size: 12px;
    margin-top: 5px;
    color: #666666;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}



.main-bar-header h1{
    font-weight: 400;

}
.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

.main-bar-header .ask-btn:hover{
    background-color: #0006d8;

}