.left-sidebar{
    width: 18vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    transition: box-shadow ease-in-out 0.1s transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;

}

.side-nav{
    height: auto;
    max-width: 100%;
    position: fixed;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nav-logo{
    margin-bottom: 40px;
}

.side-nav-div div{
    padding-left:10px;

}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.side-nav-links:hover{
    color: black;
    

}

.active{
    font-weight: bolder;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    border-right: solid 3px #037ecb;

}
